// Styling for the services section
.skills-title {
  display: flex;
  justify-content: center;

  h2 {
    display: inline;
  }
}

.skill-heading {
  margin: 20px 0;
  text-transform: none;
}

.icon-bg {
  width: 120px;
  height: 120px;
  background-color: $gray-800;
  display: flex;
  margin-top: 15px;
  margin-left: calc(50% - 60px);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;

  .skill-img {
    z-index: 1;
    width: 80px;
    color: white;
    position: relative;
  }
}